<div class="row">
    <div class="col-12">
        <h1 class='text-success text-center'>!תודה רבה<br>
             פרטייך נשמרו בהצלחה</h1>
        <p class='text-success text-center'>נחזור אלייך בהקדם</p>
    </div>
</div>